.navbarWrapper {
  justify-content: space-between!important;
}

.navbar {
  min-height: 56px;
}

.searchWrapper {
  min-width: 300px;
}

.navWrapper {
  justify-content: flex-end;
  min-width: 300px;
}

.signUpNavItem {
  display: flex;
  align-items: center;
}

.signUpNavButton:hover {
  color: #ff6600!important
}