@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Prefix `c` stand for `custom`
$c-lg-breakpoint: map-get($grid-breakpoints, "lg");

@media (max-width: $c-lg-breakpoint - 1) {
  .app-navbar .navbar-nav {
    flex-direction: row;
    justify-content: center;
  }

  .app-navbar .navbar-nav .nav-link {
    padding-left: $nav-link-padding-x;
    padding-right: $nav-link-padding-x;
  }

  .app-navbar .desktop-nav-item {
    display: none!important;
  }
}

@media (min-width: $c-lg-breakpoint) {
  .app-navbar .mobile-nav-item.navbar-collapse.collapse {
    display: none!important;
  }
  
  .app-navbar .mobile-nav-item {
    display: none!important;
  }
}

@import '~bootstrap/scss/bootstrap.scss';