@import "~axios-progress-bar/dist/nprogress.css";
@import "./variables.scss";

$loading-color: #fff;

#nprogress .bar {
  background: $loading-color !important;
  height: 3px!important;
}

#nprogress .peg {
  box-shadow: 0 0 10px $loading-color, 0 0 5px $loading-color !important;
}

#nprogress .spinner-icon {
  border-top-color: $loading-color !important;
  border-left-color: $loading-color !important;
}